--- javascript
{
  date: new Date("2024-03-23T00:00:00Z"),
  updated: new Date("2023-01-31T00:00:00Z"),
  draft: false,
  description: "Page Description",
  images: [
    {
      src: "/images/posts/test1.png",
      alt: "Image 1",
    },
    {
    src: "/images/posts/test1.png",
    alt: "Image 2",
    },
    {
      src: "/images/posts/test1.png",
      alt: "Image 3",
    }
  ],
	layout: "main.liquid",
	title: "Not Found",
	eleventyExcludeFromCollections: true,
  og_image: {
    alt: "OG Image",
    height: 630,
    type: "image/jpeg",
    url: "/images/og/1.jpg",
    width: 1200,
  },
  title: "Home",
  tags: [
    "3d-printing",
  ],
}
---
<h1>Nope!</h1>
