<footer class="global">
  <ul class="stack">
    <li>
      <a href="https://www.11ty.dev/">
        Made with 11ty 3.0.0-beta!
      </a>
    </li>
    <li>
      <a href="{{site.github.repository}}{{site.github.branch}}{{page.inputPath}}">Edit this page on GitHub</a>
    </li>
  </ul>
  <ul class="stack">
    <li>COPYRIGHT © {{ "now" | date: '%Y' }}, Eric Carlisle</li>
  </ul>
</footer>
